<h2>new store</h2>
<%= render "form" %>

<h2>all yer stores</h2>
<% if @stores.any? %>
  <ul>
    <% @stores.each do |store| %>
      <li><%= store.name %> <%= link_to "edit", edit_store_path(store.id) %></li>
    <% end %>
  </ul>
<% end %>
