<div id="store-container">
  <h2>new store</h2>
  <%= render "form" %>
  <div class="span-2">
  <h2 class="span-cols">all yer stores</h2>
  <% if @stores.any? %>
    <ul class="no-bullet-list no-list-indent">
      <% @stores.each do |store| %>
        <li>
        <%= link_to edit_store_path(store.id) do %>
        <nav class="green-bg center-text pearl-font medium-font taller-line-item margin-bottom">
          <%= store.name %>
        </nav>
        <% end %>
        </li>

      <% end %>
    </ul>
  <% end %>
  <div>
</div>
