<h2>new store</h2>
<%= render "form" %>

<h2>all yer stores</h2>
<% if @stores.any? %>
  <ul>
    <% @stores.each do |store| %>
      <li>
      <%= link_to edit_store_path(store.id) do %>
      <nav class="expand-row tan-bg center-text padding black-font large-font">
        store.name
      </nav>
      <% end %>
      </li>

    <% end %>
  </ul>
<% end %>
