  <%= link_to lists_path do %>
    <nav class="expand-row mocha-bg center-text padding pearl-font large-font">
      Go to the store
    </nav>
  <% end %>
  <%= link_to items_path do %>
    <nav class="expand-row tan-bg center-text padding black-font large-font">
      Manage items
    </nav>
  <% end %>
