<div id="home-container">
  <div class="mocha-bg padding-10">
    <%= link_to lists_path do %>
      <nav class="center-text pearl-font large-font">
        Go to the store
      </nav>
    <% end %>
  </div>
  <div class="tan-bg padding-10">
    <%= link_to items_path do %>
      <nav class="center-text black-font large-font">
        Manage items yo
      </nav>
    <% end %>
  </div>
</div>
