<h1>Woot!</h1>
<nav class="expand-row mocha-bg center-text padding">
  <%= link_to "Go to the store!", lists_path, class: "pearl-font large-font" %>
</nav>
<nav class="expand-row tan-bg center-text padding">
  <%= link_to "Manage items", items_path, class: "black-font large-font" %>
</nav>
